
body { 
    background-color: black;
}

header {
    height: 180px;
    margin: -50px;
    background-image: linear-gradient(45deg, black 0%, gray 52%, white 90%);
}

#title {
    text-align: center;
    margin-top: 50px;
    color: white;
    padding-top: 65px;
}

#instructions {
    color: white;
    text-align: center;
    padding-top: 50px;
}

.scores {
    color: white;
    border: solid goldenrod 3px;
    border-radius: 10px;
}

.button-div {
    text-align: center;
}

.button-div button {
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 10px;
    border: solid white 3px;
}

.game {
    text-align: center;
    color: white;
}

#your-pick {
    color: white;
}

#rock {
    background-image: url('./images/rock.png');
    background-size: contain;
}

#paper {
    background-image: url('./images/paper.png');
    background-size: contain;
}

#scissors {
    background-image: url('./images/scissors.png');
    background-size: contain;
}

#rock-img, #paper-img, #scissors-img, #computer-pick-img {
    width: 15%;
}

#play-again {
    visibility: hidden;
    color: white;
    width: 150px;
    height: 75px;
    margin: auto;
}

#wins, #losses, #ties {
    color: goldenrod;
}

@media screen and (max-width: 900px) {
    #title {
        font-size: 1.8em;
    }

    .button-div {
        margin-top: 50px !important;
    }

    .button-div button {
        margin: 50px 0px;
    }

    #rock-img, #paper-img, #scissors-img, #computer-pick-img {
        width: 30%;
    }

    #play-again {
        height: 50px;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {

    header {
        height: 125px;
        margin-bottom: 15px
    }

    #title {
        margin-top: 25px;
    }

    #instructions {
        padding-top: 5px;
    }
    
    .scores {
        position: relative !important;
        margin: auto;
        max-width: 40vw;
        max-height: 30vh;
        text-align: center;
        line-height: 0.5em;
        padding: 5px;
    }

    .scores button {
        height: 50px;
        width: 75px;
        font-size: .75em;
    }

    #title {
        font-size: 1.25em;
        margin-bottom: 15px;
    }

    .button-div {
        margin: 20px !important;
    }

    .button-div button {
        margin: auto;
        width: 60px;
        height: 60px;
    }

    #rock, #paper, #scissors {
        background-size: contain; 
    }

    #rock-img, #paper-img, #scissors-img, #computer-pick-img {
        width: 35%;
    }

    #win-loss-message {
        font-size: 1em;
        margin-bottom: 15px;
    }

    #play-again {
        width: 100px;
        height: 75px;
        box-shadow: white 1px 1px 3px;
    }
}

@media screen and (max-width: 300px) {

    header {
        margin-bottom: 15px;
    }

    #title {
        font-size: 1em;
    }

    #rock-img, #paper-img, #scissors-img, #computer-pick-img {
        width: 35%;
    }

    #play-again {
        height: 60px;
    }
}